{{#description}}
    /**
    * {{{description}}}
    */
{{/description}}
export enum {{classname}} {
{{#vars}}
{{#allowableValues}}
{{#enumVars}}
    {{{name}}}{{^-last}},{{/-last}}
{{/enumVars}}
{{/allowableValues}}
{{/vars}}
}